<!DOCTYPE html>
<html lang="en">

  <%= console.log("showtimes 1", showtimes[1].dataValues.Time)%>
  <body>
    <h1><%= `Showtimes for ${movie.title}` %></h1>
    <% for(var i=0; i<showtimes.length; i++) {%>
   <a href=<%=`../${movie.movieId}/${showtimes[i].dataValues.id}/concessions` %>>
       <%= showtimes[i].dataValues.Time%>
   </a>
<% } %>
    <img class="showtime-image" src=<%=
    `https://image.tmdb.org/t/p/w200/${movie.poster}` %>>
  </body>
</html>
