<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/header')-%>
  <body>
    <%- include('../templates/nav')-%>
    <h1>You submitted!!! QR code will go here</h1>
        <h1>You submitted!!! Ticket information is below</h1>
        <table class="databaseContainer">
        <tr>
        <% for(var i=0; i<latest.length; i++) {%>
          <th class="odd">Name</th>
          <td><%=latest[i].dataValues.firstName + " " + latest[i].dataValues.lastName%></td>
        </tr>
        <tr>
          <th class="even">Movie</th>
          <td><%=latest[i].dataValues.Showtime.MovieName%></td>
        </tr>
        <tr>
          <th class="odd">Showtime</th>
          <td><%=latest[i].dataValues.Showtime.Day + ", " + latest[i].dataValues.Showtime.Date + " at " + latest[i].dataValues.Showtime.Time%></td>
        </tr>
        <tr>
          <th class="even">Concessions</th>
          <td><%=latest[i].dataValues.concessions%></td>
         </tr>
        <% } %>

    </table>  
  </body>
</html>
