<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/header')-%>
  <body>
    <%- include('../templates/nav')-%>
    <div class="submit-container">
    <div class="submit-header">
        <p class= "submit-title">Ticket Reserved!</p>
        <p class="submit-text">Show these details when you arrive at the theater.</p></div>
        <table class="databaseContainer"id ="submit-container">
        <tr>
        <% for(var i=0; i<latest.length; i++) {%>
          <th class="odd">Name</th>
          <td><%=latest[i].dataValues.firstName + " " + latest[i].dataValues.lastName%></td>
        </tr>
        <tr>
          <th class="even">Movie</th>
          <td><%=latest[i].dataValues.Showtime.MovieName%></td>
        </tr>
        <tr>
          <th class="odd">Showtime</th>
          <td><%=latest[i].dataValues.Showtime.Day + ", " + latest[i].dataValues.Showtime.Date + " at " + latest[i].dataValues.Showtime.Time%></td>
        </tr>
        <tr>
          <th class="even">Concessions</th>
          <td><%=latest[i].dataValues.concessions%></td>
         </tr>
        <% } %>

    </table>  </div>
  </body>
</html>
