<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/header')-%>
  <body>
    <%- include('../templates/nav')-%>
        <div class="tm-container">
    <h1 class="tm-title">Showtimes</h1>
    <table class="databaseContainer tm-table" id="tm-showimes">
        <tr class="topRow">
            <th>Auditorium</th>
            <th>Movie Name</th>
            <th>Movie Id</th>
            <th>Day</th>
            <th>Date</th>
        </tr>
        <% for(var i=0; i<showtimes.length; i++) {%>
            <tr>
                <th><%=showtimes[i].dataValues.Auditorium%></th>
                <th><%=showtimes[i].dataValues.MovieName%></th>
                <th><%=showtimes[i].dataValues.movieid%></th>
                <th><%=showtimes[i].dataValues.Day%></th>
                <th><%=showtimes[i].dataValues.Date%></th>
            </tr>
            <% } %>
    </table>

</div>
  </body>
</html>
