<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/header')-%>
  <body>
    <%- include('../templates/nav')-%>
        <div class=" tm-container">
    <h1 class="tm-title">Concessions</h1>
    <table class="databaseContainer" id="tm-concessions">
        <tr class="topRow">
            <th>Item Name</th>
            <th>Type</th>
            <th>Size</th>
        </tr>
        <% for(var i=0; i<concessions.length; i++) {%>
            <tr>
                <th><%=concessions[i].dataValues.Name%></th>
                <th><%=concessions[i].dataValues.Type%></th>
                <th><%=concessions[i].dataValues.Size%></th>
            </tr>
            <% } %>
    </table>

</div>
  </body>
</html>